{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
<br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
        background-image : url('https://media.istockphoto.com/id/1765977297/photo/blockchain-technology-ledger-data-algorithm-linked-together-in-a-chain.webp?b=1&s=170667a&w=0&k=20&c=AsgOf6IAQTxIP4EINMlvN8IAF5Ytq6agMWVjluQHFmM=');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    </style>
</head>

<body>

</body>

</html>


{% endblock content %}